<% include ../partials/header %>

    <header class="jumbotron">
        <h1 class="title"><i class="fa fa-university"></i>  Welcome To YelpMuseum</h1>
        <p>View our hand-picked Museums from all over the world</p>
        <p>
            <a class="btn btn-primary btn-large" href="/museums/new">Add New Museum</a>
        </p>
        <p>
            <form class="form-inline" id = "museum-search" action="/museums" method= "GET">
                <div class = "form-group">
                    <input class="form-control"  type="text" name="search" placeholder="search for museum...">
                </div>
            <form>
        </p>
    </header>
    
    <div class="row text-center flex-wrap" id= "museum-grid">
        <% museums.forEach(function(museum){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= museum.image %>">
                <div class="caption">
                  <h4><%= museum.name %></h4>
                </div>
                <p>
                    <% if(currentUser) {%>
                    
                     <i class="<%= museum.likedBy.indexOf(currentUser._id) >= 0 ? 'fa fa-heart clickable' : 'fa fa-heart-o clickable' %>" 
                               onclick="likeOrUnlike(event,'<%= currentUser._id %>', '<%= museum._id %>',false)">
                               <%= museum.likedBy.length %>
                     </i>
                        
                    <% } else { %>
                     <i class="fa fa-heart-o"> <%= museum.likedBy.length %> </i>
                    <% } %>

                    <a href="/museums/<%= museum._id %>" class="btn btn-primary">More Info</a>
                <p>
            </div>
        </div>
        <% }) %>
    </div>
    
<% include ../partials/footer %>